<p id="notice"><%= notice %></p>

<p>
  <strong>Ayear:</strong>
  <%= @bhistory.ayear %>
</p>

<p>
  <strong>Amonth:</strong>
  <%= @bhistory.amonth %>
</p>

<p>
  <strong>Acontent:</strong>
  <%= @bhistory.acontent %>
</p>

<p>
  <strong>Uid:</strong>
  <%= @bhistory.uid %>
</p>

<p>
  <strong>Uipaddr:</strong>
  <%= @bhistory.uipaddr %>
</p>

<p>
  <strong>Etc1:</strong>
  <%= @bhistory.etc1 %>
</p>

<p>
  <strong>Etc2:</strong>
  <%= @bhistory.etc2 %>
</p>

<p>
  <strong>Etc3:</strong>
  <%= @bhistory.etc3 %>
</p>

<%= link_to 'Edit', edit_bhistory_path(@bhistory) %> |
<%= link_to 'Back', bhistories_path %>
