<script src="/assets/tui-editor/dist/tui-editor-Viewer.min"></script>
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @board.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @board.content %>
</p>

<%= link_to 'Edit', edit_bulletin_board_path(@board.bulletin, @board), class:'btn' %> |
<%= link_to 'Back', bulletin_boards_path, class:'btn' %>
