<ul class="menu_box_1_drop flex flex_jc_sa flex_ai_c">
  <li class="height_100p flex_ai_c"><%= link_to 'HOME',root_path, class: 'cursor_p height_100p flex_ai_c' %></li>
  <%= render 'layouts/drop_1' %>
  <%= render 'layouts/drop_2' %>
  <%= render 'layouts/drop_3' %>
  <%= render 'layouts/drop_4' %>
</ul>